{% extends "emails/base.html" %}
{% load humanize %}

{% block title %}
    Withdraw Confirmation
{% endblock title %}

{% block content %}
    <h2>Withdraw Confirmation</h2>
    <p>Dear {{ user.full_name }},</p>
    <p>We are pleased to inform you that a withdraw has been made from your account.</p>
    <p>Details of the transaction:</p>
    <ul>
        <li><strong>Withdrawal Amount:</strong> {{ amount|intcomma }} {{ currency }}</li>
        <li><strong>Account Number:</strong> {{ account_number }}</li>
        <li><strong>New Balance:</strong> {{ new_balance|intcomma }} {{ currency }} </li>
    </ul>
    <p>If you didn't authorize this transaction or have any questions, please contact our customer support 
        immediately</p>
    <p>Thank you for banking with {{ site_name }}</p>
    <p>Best Regards,</p>
    <p><strong>The {{ site_name }} Team</strong></p>
{% endblock content %}
